VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://pzkwalwbezfehiwmgfsr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6a3dhbHdiZXpmZWhpd21nZnNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5OTMzMjYsImV4cCI6MjEwNTU2OTMyNn0.lFBQAJbho9ngvxIwLAywNDXlE8LWwZlEiG1Vun8-3co